<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{ISO8601} | %-5p | ZTA | AppLog | @project.name@ | %X{X-B3-TraceId} | %t | %X{IPAddress} | %c{1}:%L | %m%n" />
		</Console>
		<RollingFile name="RollingFile" fileName="/opt/ewallet/logs/wallet-operation-web.log" filePattern="/opt/ewallet/logs/wallet-operation-web.log.%d{yyyy-MM-dd}-%i"
			immediateFlush="false" append="true">
			<PatternLayout
				pattern="%d{ISO8601} | %-5p | ZTA | AppLog | @project.name@ | %X{X-B3-TraceId} | %t | %X{IPAddress} | %c{1} | %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="2" modulate="true" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>
</Configuration>