@media (max-width: 767px) {
  header.navbar .navbar-default-responsive a.navbar-brand.navbar-brand-secondary {
    margin-left: 44.1% !important
  }

  header.navbar a.navbar-brand.navbar-brand-secondary {
    width: 90px !important;
    height: 50px !important;
    background-size: 90px 30px !important
  }

  div.footer-info span {
    margin-left: 0
  }

  div.footer-navbar ul li:first-child, div.footer-navbar span a {
    border-left: none
  }

  footer.main-footer .container_footer {
    padding-left: 0
  }

  .header .logo-container {
    background: 0
  }

  .page-header .breadcrumbs {
    display: block
  }

  .navbar-default-responsive {
    display: block !important
  }

  .navbar-default-normal {
    display: none
  }

  header.navbar .navbar-default .navbar-collapse, header.navbar .navbar-default .navbar-form {
    background: #091C3D;
    padding-bottom: 20px
  }

  header.navbar .navbar-nav {
    margin: 0
  }

  header.navbar a.button.secondary {
    border: 0;
    color: #fff;
    background: #52bd61;
    background: -moz-linear-gradient(top, #52bd61 0, #45b955 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #52bd61), color-stop(100%, #45b955));
    background: -webkit-linear-gradient(top, #52bd61 0, #45b955 100%);
    background: -o-linear-gradient(top, #52bd61 0, #45b955 100%);
    background: -ms-linear-gradient(top, #52bd61 0, #45b955 100%);
    background: linear-gradient(to bottom, #52bd61 0, #45b955 100%)
  }

  header.navbar a.button.secondary:hover, header.navbar a.button.secondary:focus {
    border: 0;
    color: #fff;
    background: #52bd61;
    background: -moz-linear-gradient(top, #52bd61 0, #45b955 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #52bd61), color-stop(100%, #45b955));
    background: -webkit-linear-gradient(top, #52bd61 0, #45b955 100%);
    background: -o-linear-gradient(top, #52bd61 0, #45b955 100%);
    background: -ms-linear-gradient(top, #52bd61 0, #45b955 100%);
    background: linear-gradient(to bottom, #52bd61 0, #45b955 100%)
  }

  header.navbar .navbar-nav li a {
    margin: 0;
    line-height: 50px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0
  }

  header.navbar .navbar-default .navbar-nav > li > a:hover, header.navbar .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #222
  }

  header.navbar .navbar-nav .open .dropdown-menu {
    border-radius: 0;
    padding: 0 !important
  }

  header.navbar .navbar-nav .navbar-account.open .dropdown-menu {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2)
  }

  header.navbar .navbar-nav .open .dropdown-menu > li > a {
    padding: 5px 25px
  }

  header.navbar .dropdown-menu > li > a:hover, header.navbar .dropdown-menu > li > a:focus {
    color: #fff !important;
    text-decoration: none;
    background: #222 !important
  }

  .navbar-nav-primary {
    width: 50%;
    float: left
  }

  .navbar-nav-secondary {
    width: 50%;
    float: right
  }

  .navbar-nav-language {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2)
  }

  header.navbar .open > .dropdown-menu {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
    opacity: 1
  }

  header.navbar .dropdown-menu {
    -webkit-transform-origin: none;
    transform-origin: top;
    -webkit-transform: scale(0, 0);
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none
  }

  .caret {
    margin-left: 8px
  }

  header.navbar.navbar-secondary .navbar-default .navbar-nav > li a.button.secondary {
    border: 0
  }

  header.navbar.navbar-secondary .navbar-nav li a {
    color: rgba(255, 255, 255, 0.7)
  }

  header.navbar.navbar-secondary .navbar-default .navbar-nav > li > a:hover, header.navbar.navbar-secondary .navbar-default .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 1)
  }

  .main-footer .container_footer {
    text-align: center
  }

  .main-footer .container {
    padding-top: 0
  }

  .country-selector {
    padding: 15px 0
  }

  .footer-navbar ul li a, .footer-info span, .footer-info span a, .country-selector a {
    font-size: 1em
  }

  .footer-navbar ul li {
    padding: 10px 0
  }

  .footer-navbar ul li:first-child {
    border-left: none
  }

  div.footer-navbar {
    margin: 0 -15px;
    padding: 0 20px;
    border-top: 1px solid rgba(192, 199, 205, 0.3)
  }

  .footer-navbar-bottom {
    width: 100%;
    display: inline-block;
    margin-bottom: 10px
  }

  .footer-navbar-bottom {
    border-bottom: 1px solid rgba(192, 199, 205, 0.3)
  }

  div.footer-navbar span {
    float: none;
    display: block
  }

  .footer-navbar span a {
    border: 0;
    font-size: .9em
  }
}

@media screen and (max-width: 480px) {
  header.navbar .navbar-default-responsive a.navbar-brand.navbar-brand-secondary {
    margin-left: 38% !important
  }

  .main-footer .container {
    text-align: center
  }

  .main-footer .container {
    padding-top: 0
  }

  .country-selector {
    padding: 15px 0
  }

  .footer-navbar ul li a, .footer-info span, .footer-info span a, .country-selector a {
    font-size: .95em
  }

  .footer-navbar ul li {
    padding: 10px 0
  }

  .footer-navbar ul li:first-child {
    margin-left: 0;
    border-left: none
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  header.navbar a.navbar-brand {
    margin-left: 10px
  }

  .main-footer .container_footer {
    text-align: center
  }

  .main-footer .container {
    padding-top: 0
  }

  .country-selector {
    padding: 15px 0
  }

  .footer-navbar ul li a, .footer-info span, .footer-info span a, .country-selector a {
    font-size: .9em
  }

  .footer-navbar ul li {
    padding: 10px 0
  }

  .footer-navbar ul li:first-child {
    border-left: none
  }

  div.footer-navbar {
    margin: 0 -15px;
    border-top: 1px solid rgba(192, 199, 205, 0.3)
  }
}

@media screen and (max-width: 330px) {
  header.navbar .navbar-default-responsive a.navbar-brand.navbar-brand-secondary {
    margin-left: 32% !important
  }

  .footer-navbar ul li a, .footer-info span, .footer-info span a, .country-selector a {
    font-size: .8em
  }

  .footer-navbar ul li a, .footer-info span, .footer-info span a, .footer-navbar span a {
    padding: 0 5px;
    font-size: .8em
  }

  div.choose_product select {
    width: 280px
  }

  div.choose_product input {
    width: 280px
  }

  div.dev-content-details .nav > li > a {
    padding: .5em .5em;
    font-size: 10px
  }

  p.button-group a.button {
    font-size: 13px;
    width: 190px;
    margin-bottom: 10px
  }

  p.button-group a.button.secondary {
    margin-left: 0
  }

  .slider-home .item .inner-col div.slider-images a {
    display: block;
    width: 100%;
    height: 189px;
    margin-top: 0;
    background-size: 200px 189px;
    background-repeat: no-repeat;
    background-position: center
  }

  section.slider-home .owl-slider-home .owl-wrapper-outer .owl-item .item {
    height: 510px
  }

  .slider-home .owl-controls {
    bottom: 8px
  }

  .services-join-left {
    padding: 0
  }

  body.services-page {
    background-color: #f8fafb;
    background: linear-gradient(176deg, #1C1431, #283d81, #2d6ca5, #fff 90%)
  }

  div.logos-wrap {
    padding: 30px 0
  }

  .services-split * {
    font-size: 13px
  }

  .developer-doc .topics-grid a:before {
    width: 50px;
    height: 50px;
    left: 86%;
    top: 8px;
    background: url("../img/support/topics_large.svg") no-repeat;
    background-size: 400px 50px
  }

  .developer-doc .topics-grid a {
    font-size: 12px
  }

  div.country-selector .dropdown-menu:before {
    top: 77px
  }
}

.animated {
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

@-webkit-keyframes slideDown {
  0% {
    max-height: 0
  }
  100% {
    max-height: 500px
  }
}

@keyframes slideDown {
  0% {
    max-height: 0
  }
  100% {
    max-height: 500px
  }
}

.slideDown {
  overflow: hidden;
  -webkit-animation-name: slideDown;
  animation-name: slideDown
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px)
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px)
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown
}

@-webkit-keyframes fadeInDown-1 {
  0% {
    opacity: 0;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    transform: scale(0, 0)
  }
  40% {
    opacity: .8;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
  }
}

@keyframes fadeInDown-1 {
  0% {
    opacity: 0;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    transform: scale(0, 0)
  }
  40% {
    opacity: .8;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
  }
}

.fadeInDown-1 {
  -webkit-animation-name: fadeInDown-1;
  animation-name: fadeInDown-1
}

@-webkit-keyframes fadeInUp-1 {
  0% {
    opacity: 0;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    transform: scale(0, 0)
  }
  40% {
    opacity: .8;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
  }
}

@keyframes fadeInUp-1 {
  0% {
    opacity: 0;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    transform: scale(0, 0)
  }
  40% {
    opacity: .8;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
  }
}

.fadeInUp-1 {
  -webkit-animation-name: fadeInUp-1;
  animation-name: fadeInUp-1
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px)
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px)
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp
}

@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px)
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0
  }
  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
    transform: perspective(400px) rotateX(-10deg)
  }
  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
    transform: perspective(400px) rotateX(10deg)
  }
  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    transform: perspective(400px) rotateX(0deg);
    opacity: 1
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    -ms-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0
  }
  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
    -ms-transform: perspective(400px) rotateX(-10deg);
    transform: perspective(400px) rotateX(-10deg)
  }
  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
    -ms-transform: perspective(400px) rotateX(10deg);
    transform: perspective(400px) rotateX(10deg)
  }
  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    -ms-transform: perspective(400px) rotateX(0deg);
    transform: perspective(400px) rotateX(0deg);
    opacity: 1
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  -ms-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX
}

a.button.default {
  border: 0;
  color: #fff;
  background: #52bd61
}

a.button.secondary {
  border: 1px solid #000;
  color: #fff;
  font-weight: 500;
  border-color: rgba(255, 255, 255, 0.5);
  margin-left: .5em
}

a.button {
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  line-height: 37px;
  padding: 0 14px;
  -webkit-border-radius: 5px;
  border-radius: 5px
}

a.button.secondary:hover {
  background: rgba(216, 222, 227, 0.2)
}

.arrow, a.arrow {
  color: #52bd61
}

.arrow:hover, a.arrow:hover {
  text-decoration: underline !important;
  color: #52bd61
}

.navbar-default-responsive {
  display: none
}

header.navbar ul a.new::after {
  content: "NEW";
  display: inline-block;
  position: relative;
  height: 15px;
  padding: 0 3px;
  margin-left: 8px;
  font-size: 10px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #64bd2e;
  background-image: -webkit-linear-gradient(#64bd2e, #50a91a);
  background-image: -moz-linear-gradient(#64bd2e, #50a91a);
  background-image: -o-linear-gradient(#64bd2e, #50a91a);
  background-image: -ms-linear-gradient(#64bd2e, #50a91a);
  background-image: linear-gradient(#64bd2e, #50a91a);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.07);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.07);
  line-height: 15px;
  color: #fff
}

.navbar-brand-mobile {
  display: none
}

.navbar-nav-wrap {
  margin: 0 -15px
}

.main-footer {
  background: #fff;
  margin-left: 180px;
  padding-bottom: 20px
}

.main-footer .container_footer {
  border-top: 1px solid #e6eaed;
  padding-top: 15px;
  padding-left: 75px
}

.footer-navbar ul, .footer-navbar ul li {
  margin: 0;
  padding: 0
}

.footer-navbar ul li {
  float: left
}

.footer-navbar ul li a, .footer-info span, .footer-info span a, .footer-navbar span a {
  margin: 0;
  padding: 0 10px;
  color: #b0bfc7;
  font-size: 12px
}

.country-selector a {
  margin: 0;
  color: #b0bfc7;
  font-size: 12px
}

.footer-navbar li a:hover, .footer-navbar li a:focus, .footer-navbar span a:hover {
  text-decoration: none;
  color: #6f7c82
}

.footer-navbar .nav li {
  position: relative;
  display: block;
  float: left
}

.footer-navbar-bottom {
  display: inline-block;
  float: left
}

.footer-navbar ul li:first-child, .footer-navbar span a {
  border-left: 1px solid rgba(192, 199, 205, 0.3)
}

.footer-navbar span {
  float: left
}

.footer-navbar ul {
  display: inline-block
}

.country-selector .dropup {
  margin: 0 -30px;
  display: inline-block;
  position: relative
}

.country-selector .dropdown-menu {
  left: -21px
}

.country-selector .dropup button {
  margin: 0;
  padding: 0;
  background: 0;
  border: 0;
  color: #b0bfc7
}

.country-selector .dropup button img {
  margin: 0;
  padding: 0
}

.country-selector ul li img {
  float: left;
  margin-right: 5px
}

.country-selector .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #f8f9fb;
  border-color: #f8f9fb
}

.country-selector li a {
  display: block;
  padding: 6px 20px;
  clear: none;
  font-weight: normal;
  line-height: 22px;
  color: #333;
  white-space: nowrap
}

.country-selector a {
  margin: 0;
  color: #b0bfc7
}

.country-selector .dropup .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 13px;
  position: absolute
}

.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #f8f9fb;
  border-color: #cacaca
}

header.navbar.navbar-secondary {
  position: fixed;
  margin-bottom: 0;
  background-color: #f8f9fb;
  z-index: 1001;
  top: 0;
  left: 0;
  right: 0
}

header.navbar .navbar-default {
  background: 0;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 0;
  margin: 0 -15px
}

.main-about header.navbar .navbar-default {
  border-bottom: 1px solid rgba(49, 78, 95, 0.075)
}

header.navbar .navbar-default-responsive a.navbar-brand.navbar-brand-secondary {
  margin-left: 10px
}

header.navbar a.navbar-brand.navbar-brand-secondary {
  width: 150px;
  height: 50px;
  display: block;
  background: url("../images/navbar/navigation/logo@2x.png") no-repeat center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  font-size: 0;
  margin: 0;
  opacity: 1;
  -ms-filter: "alpha(opacity=1)";
  -webkit-filter: alpha(opacity=1);
  -moz-filter: alpha(opacity=1);
  -ms-filter: alpha(opacity=1);
  -o-filter: alpha(opacity=1);
  filter: alpha(opacity=1)
}

header.navbar a.navbar-brand.navbar-brand-secondary:hover, header.navbar a.navbar-brand.navbar-brand-secondary:focus {
  opacity: .85;
  -ms-filter: "alpha(opacity=85)";
  -webkit-filter: alpha(opacity=85);
  -moz-filter: alpha(opacity=85);
  -ms-filter: alpha(opacity=85);
  -o-filter: alpha(opacity=85);
  filter: alpha(opacity=85)
}

header.navbar a.navbar-brand {
  width: 68px;
  height: 40px;
  display: block;
  background: url("../img/navigation/logo-white@2x.png") no-repeat center center;
  background-size: 68px 40px;
  background-repeat: no-repeat;
  font-size: 0;
  margin: 5px;
  margin-right: 25px;
  opacity: .85;
  margin-left: 10px;
  -ms-filter: "alpha(opacity=85)";
  -webkit-filter: alpha(opacity=85);
  -moz-filter: alpha(opacity=85);
  -ms-filter: alpha(opacity=85);
  -o-filter: alpha(opacity=85);
  filter: alpha(opacity=85)
}

header.navbar a.navbar-brand:hover, header.navbar a.navbar-brand:focus {
  opacity: 1;
  -ms-filter: "alpha(opacity=1)";
  -webkit-filter: alpha(opacity=1);
  -moz-filter: alpha(opacity=1);
  -ms-filter: alpha(opacity=1);
  -o-filter: alpha(opacity=1);
  filter: alpha(opacity=1)
}

header.navbar .navbar-nav li a {
  margin-top: 12px;
  margin-bottom: 12px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 25px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 15px
}

header.navbar.navbar-secondary .navbar-nav li a {
  color: #616161
}

header.navbar.navbar-secondary .navbar-default .navbar-nav > li > a:hover, header.navbar.navbar-secondary .navbar-default .navbar-nav > li > a:focus {
  color: rgba(111, 124, 130, 1)
}

header.navbar.navbar-secondary .navbar-default .navbar-nav > li a.button.secondary {
  border: 1px solid rgba(111, 124, 130, 0.4)
}

header.navbar .navbar-default .navbar-nav > li > a:hover, header.navbar .navbar-default .navbar-nav > li > a:focus {
  color: #fff
}

header.navbar .navbar-nav li.navbar-nav-title a {
  font-size: 17px;
  color: #38b449;
  margin-left: -10px
}

header.navbar.navbar-secondary .navbar-nav li a.navbar_active {
  border: 1px solid rgba(111, 124, 130, 0.4);
  border-radius: 20px
}

header.navbar .navbar-nav li.navbar-nav-title a:hover, header.navbar .navbar-nav li.navbar-nav-title a:focus {
  color: rgba(54, 164, 69, 0.8) !important
}

header.navbar .navbar-nav .dropdown-menu li a {
  color: #6f7c82;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 0
}

header.navbar .dropdown-menu > li > a:hover, header.navbar .dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background: #f8f9fb;
  border-radius: 0
}

header.navbar .dropdown-menu > .active > a, header.navbar .dropdown-menu > .active > a:hover, header.navbar .dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background: 0;
  outline: 0
}

header.navbar .dropdown-menu > .disabled > a, header.navbar .dropdown-menu > .disabled > a:hover, header.navbar .dropdown-menu > .disabled > a:focus {
  color: #777
}

header.navbar .dropdown-menu > .disabled > a:hover, header.navbar .dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
}

header.navbar .navbar-default .navbar-toggle, header.navbar .navbar-toggle {
  border: 0;
  background: url("../images/navbar/top_tray.png") no-repeat center center;
  background-position: -58px -3px;
  width: 15px;
  height: 13px;
  opacity: .68;
  -ms-filter: "alpha(opacity=68)";
  -webkit-filter: alpha(opacity=68);
  -moz-filter: alpha(opacity=68);
  -ms-filter: alpha(opacity=68);
  -o-filter: alpha(opacity=68);
  filter: alpha(opacity=68)
}

header.navbar.navbar-secondary .navbar-default .navbar-toggle, header.navbar.navbar-secondary .navbar-toggle {
  border: 0;
  background: url("../images/navbar/top_tray.png") no-repeat center center;
  background-position: -58px -3px;
  width: 15px;
  height: 13px;
  opacity: .68;
  -ms-filter: "alpha(opacity=68)";
  -webkit-filter: alpha(opacity=68);
  -moz-filter: alpha(opacity=68);
  -ms-filter: alpha(opacity=68);
  -o-filter: alpha(opacity=68);
  filter: alpha(opacity=68)
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
  background: 0
}

header.navbar .navbar-default .navbar-toggle:hover, header.navbar .navbar-default .navbar-toggle:focus, header.navbar .navbar-toggle:hover, header.navbar .navbar-toggle:focus {
  opacity: 1;
  -ms-filter: "alpha(opacity=100)";
  -webkit-filter: alpha(opacity=100);
  -moz-filter: alpha(opacity=100);
  -ms-filter: alpha(opacity=100);
  -o-filter: alpha(opacity=100);
  filter: alpha(opacity=100)
}

header.navbar .navbar-toggle {
  position: relative;
  float: right;
  padding: 8px;
  margin-top: 18px;
  border: 0;
  border-radius: 0
}

header.navbar .navbar-default .navbar-collapse, header.navbar .navbar-default .navbar-form {
  border: 0;
  width: 100%;
  padding: 0
}

.navbar-nav > li > .dropdown-menu {
  border-radius: 7px
}

.navbar-nav-login li.navbar-account a {
  width: 50%;
  float: right
}

.navbar-nav-login li a.dropdown-toggle {
  width: 50%
}

.navbar-nav-language li .account_img {
  margin-right: 5px
}

.navbar-nav-language li .dropdown-menu li {
  width: 100%
}

.country-selector .dropdown-menu:before {
  content: "";
  position: absolute;
  display: block;
  width: 37px;
  height: 12px;
  top: 77px;
  left: 55px;
  background-image: url("../../../images/navbar/popover/arrow_bottom@2x.png");
  background-size: 37px 12px
}

header.navbar .dropdown-menu:before {
  content: "";
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 0;
  height: 0;
  left: 9em;
  top: -7px;
  border: 7px solid #fff;
  box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1)
}

header.navbar .dropdown-res .dropdown-menu:before {
  content: none
}

.country-selector .dropdown-menu {
  left: -20px !important
}

header.navbar .dropdown-menu {
  right: 10px
}

.panel-tools {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  right: 15px;
  top: 8px;
  text-transform: none;
  font-weight: 600;
  font-size: inherit;
  z-index: 1
}

.panel-tools li {
  display: inline-block
}

.panel-tools a {
  padding: 3px 8px;
  display: block;
  color: inherit;
  border-radius: 3px
}

.panel-tools a:hover {
  color: rgba(0, 0, 0, 0.6);
  background: rgba(0, 0, 0, 0.09)
}

.panel-tools .icon {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  cursor: pointer
}

.panel-tools .icon a {
  color: rgba(0, 0, 0, 0.4)
}

.panel-tools .dropdown-menu {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 13px
}

.panel-tools .dropdown-menu li {
  display: list-item
}

.panel-tools .dropdown-menu a {
  display: block
}

.panel-search {
  margin: -20px;
  padding: 15px 20px;
  position: relative;
  color: #333;
  display: none;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.panel-search input {
  background: #fff;
  border-radius: 999px;
  padding-left: 35px
}

.panel-search input:focus {
  background: #fff
}

.panel-search .icon {
  position: absolute;
  left: 35px;
  top: 25px
}

.panel-fullsize {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  top: 0;
  left: 0;
  z-index: 9999
}

.panel-tools-hover {
  display: none
}

.panel:hover .panel-tools-hover {
  display: block
}

.panel-title .titleicon {
  margin-right: 10px
}

.panel-closed .panel-title {
  margin-bottom: -20px
}

.panel-closed .panel-body {
  display: none
}